/**
 *	ScSS Includes
 */
/**
 *	Breakpoint variables
	[xs] - No media query since this is the default in Bootstrap
	[sm] - Small devices (landscape phones, 34em and up)
	[md] - Medium devices (tablets, 48em and up)
	[lg] - Large devices (desktops, 62em and up)
	[xs] - Extra large devices (large desktops, 75em and up)
 */
/**
 *	Color variables
 */
/**
 *	Gradient variables
 */
/**
 *	General variables
 */
@-webkit-keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slideInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(2000px);
    transform: translateY(2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@-webkit-keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
@keyframes slideInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-2000px);
    transform: translateY(-2000px); }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0); } }
/**
 * Gradient variables
 */
@media (min-width: 0) {
  .font-icon.icon-ultimaker_logo {
    font-size: 2.05714em; }

  #container {
    -webkit-perspective: 142.85714px;
            perspective: 142.85714px; }

  #cube {
    height: 57.14286px;
    width: 57.14286px; }
    #cube > div {
      height: 57.14286px;
      width: 57.14286px; }

  #cube div:nth-child(1) {
    -webkit-transform: translateZ(28.57143px);
            transform: translateZ(28.57143px); }

  #cube div:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ(28.57143px);
            transform: rotateY(90deg) translateZ(28.57143px); }

  #cube div:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ(28.57143px);
            transform: rotateY(180deg) translateZ(28.57143px); }

  #cube div:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ(28.57143px);
            transform: rotateY(-90deg) translateZ(28.57143px); }

  #cube div:nth-child(5) {
    -webkit-transform: rotateX(-90deg) translateZ(28.57143px) rotate(180deg);
            transform: rotateX(-90deg) translateZ(28.57143px) rotate(180deg); }

  #cube div:nth-child(6) {
    -webkit-transform: rotateX(90deg) translateZ(28.57143px);
            transform: rotateX(90deg) translateZ(28.57143px); } }
@media (min-width: 34em) {
  .font-icon.icon-ultimaker_logo {
    font-size: 2.05714em; }

  #container {
    -webkit-perspective: 142.85714px;
            perspective: 142.85714px; }

  #cube {
    height: 57.14286px;
    width: 57.14286px; }
    #cube > div {
      height: 57.14286px;
      width: 57.14286px; }

  #cube div:nth-child(1) {
    -webkit-transform: translateZ(28.57143px);
            transform: translateZ(28.57143px); }

  #cube div:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ(28.57143px);
            transform: rotateY(90deg) translateZ(28.57143px); }

  #cube div:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ(28.57143px);
            transform: rotateY(180deg) translateZ(28.57143px); }

  #cube div:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ(28.57143px);
            transform: rotateY(-90deg) translateZ(28.57143px); }

  #cube div:nth-child(5) {
    -webkit-transform: rotateX(-90deg) translateZ(28.57143px) rotate(180deg);
            transform: rotateX(-90deg) translateZ(28.57143px) rotate(180deg); }

  #cube div:nth-child(6) {
    -webkit-transform: rotateX(90deg) translateZ(28.57143px);
            transform: rotateX(90deg) translateZ(28.57143px); } }
@media (min-width: 48em) {
  .font-icon.icon-ultimaker_logo {
    font-size: 2.4em; }

  #container {
    -webkit-perspective: 166.66667px;
            perspective: 166.66667px; }

  #cube {
    height: 66.66667px;
    width: 66.66667px; }
    #cube > div {
      height: 66.66667px;
      width: 66.66667px; }

  #cube div:nth-child(1) {
    -webkit-transform: translateZ(33.33333px);
            transform: translateZ(33.33333px); }

  #cube div:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ(33.33333px);
            transform: rotateY(90deg) translateZ(33.33333px); }

  #cube div:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ(33.33333px);
            transform: rotateY(180deg) translateZ(33.33333px); }

  #cube div:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ(33.33333px);
            transform: rotateY(-90deg) translateZ(33.33333px); }

  #cube div:nth-child(5) {
    -webkit-transform: rotateX(-90deg) translateZ(33.33333px) rotate(180deg);
            transform: rotateX(-90deg) translateZ(33.33333px) rotate(180deg); }

  #cube div:nth-child(6) {
    -webkit-transform: rotateX(90deg) translateZ(33.33333px);
            transform: rotateX(90deg) translateZ(33.33333px); } }
@media (min-width: 62em) {
  .font-icon.icon-ultimaker_logo {
    font-size: 2.4em; }

  #container {
    -webkit-perspective: 166.66667px;
            perspective: 166.66667px; }

  #cube {
    height: 66.66667px;
    width: 66.66667px; }
    #cube > div {
      height: 66.66667px;
      width: 66.66667px; }

  #cube div:nth-child(1) {
    -webkit-transform: translateZ(33.33333px);
            transform: translateZ(33.33333px); }

  #cube div:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ(33.33333px);
            transform: rotateY(90deg) translateZ(33.33333px); }

  #cube div:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ(33.33333px);
            transform: rotateY(180deg) translateZ(33.33333px); }

  #cube div:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ(33.33333px);
            transform: rotateY(-90deg) translateZ(33.33333px); }

  #cube div:nth-child(5) {
    -webkit-transform: rotateX(-90deg) translateZ(33.33333px) rotate(180deg);
            transform: rotateX(-90deg) translateZ(33.33333px) rotate(180deg); }

  #cube div:nth-child(6) {
    -webkit-transform: rotateX(90deg) translateZ(33.33333px);
            transform: rotateX(90deg) translateZ(33.33333px); } }
@media (min-width: 75em) {
  .font-icon.icon-ultimaker_logo {
    font-size: 2.88em; }

  #container {
    -webkit-perspective: 200px;
            perspective: 200px; }

  #cube {
    height: 80px;
    width: 80px; }
    #cube > div {
      height: 80px;
      width: 80px; }

  #cube div:nth-child(1) {
    -webkit-transform: translateZ(40px);
            transform: translateZ(40px); }

  #cube div:nth-child(2) {
    -webkit-transform: rotateY(90deg) translateZ(40px);
            transform: rotateY(90deg) translateZ(40px); }

  #cube div:nth-child(3) {
    -webkit-transform: rotateY(180deg) translateZ(40px);
            transform: rotateY(180deg) translateZ(40px); }

  #cube div:nth-child(4) {
    -webkit-transform: rotateY(-90deg) translateZ(40px);
            transform: rotateY(-90deg) translateZ(40px); }

  #cube div:nth-child(5) {
    -webkit-transform: rotateX(-90deg) translateZ(40px) rotate(180deg);
            transform: rotateX(-90deg) translateZ(40px) rotate(180deg); }

  #cube div:nth-child(6) {
    -webkit-transform: rotateX(90deg) translateZ(40px);
            transform: rotateX(90deg) translateZ(40px); } }
@-webkit-keyframes spinning {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg); } }
@keyframes spinning {
  from {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
            transform: rotateX(0deg) rotateY(0deg); }
  to {
    -webkit-transform: rotateX(360deg) rotateY(360deg);
            transform: rotateX(360deg) rotateY(360deg); } }
#container {
  -webkit-perspective-origin: 50% 50%;
          perspective-origin: 50% 50%; }
  #container .font-icon.icon-ultimaker_logo {
    color: rgba(255, 255, 255, 0.5);
    line-height: 0;
    padding: 0; }
  #container .animate {
    -webkit-animation: spinning 16s infinite linear;
            animation: spinning 16s infinite linear; }
  #container #cube {
    position: relative;
    margin: 0 auto;
    -webkit-transition: -webkit-transform 2s linear;
    transition: -webkit-transform 2s linear;
    transition: transform 2s linear;
    transition: transform 2s linear, -webkit-transform 2s linear;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d; }
  #container #cube > div {
    position: absolute;
    background: -webkit-linear-gradient(315deg, rgba(24, 41, 77, 0.7) 0%, rgba(45, 178, 232, 0.7) 100%);
    background: linear-gradient(135deg, rgba(24, 41, 77, 0.7) 0%, rgba(45, 178, 232, 0.7) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e618294d', endColorstr='#cc2db2e8',GradientType=1 ); }
    #container #cube > div > div {
      position: relative;
      top: 20%;
      left: 0%;
      -webkit-transform: translate(-25%, -25%);
              transform: translate(-25%, -25%);
      display: inline; }

/**
 *	Fonts - Proxima NOVA W1
 */
@font-face {
  font-family: "ProximaNovaW01-Regular";
  src: url("/fonts/Proxima Nova W01 Regular/Proxima Nova W01 Regular/Proxima Nova W01 Regular.eot");
  src: url("/fonts/Proxima Nova W01 Regular/Proxima Nova W01 Regular/Proxima Nova W01 Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Proxima Nova W01 Regular/Proxima Nova W01 Regular/Proxima Nova W01 Regular.woff2") format("woff2"), url("/fonts/Proxima Nova W01 Regular/Proxima Nova W01 Regular/Proxima Nova W01 Regular.woff") format("woff"), url("/fonts/Proxima Nova W01 Regular/Proxima Nova W01 Regular/Proxima Nova W01 Regular.ttf") format("truetype"), url("/fonts/Proxima Nova W01 Regular/Proxima Nova W01 Regular/Proxima Nova W01 Regular.svg#ProximaNovaW01-Regular") format("svg"); }
/**
 * Fonts - Fontello
 */
@font-face {
  font-family: 'fontello';
  src: url("/fonts/fontello/font/fontello.eot?91960756");
  src: url("/fonts/fontello/font/fontello.eot?91960756#iefix") format("embedded-opentype"), url("/fonts/fontello/font/fontello.woff?91960756") format("woff"), url("/fonts/fontello/font/fontello.ttf?91960756") format("truetype"), url("/fonts/fontello/font/fontello.svg?91960756#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/**
 *	Fonts - Font icons
 */
.font-icon {
  font-family: "fontello";
  font-size: 3em;
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: 0.5em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .1em;
  /* You can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.alert.alert-danger-wrong-file-type {
  display: block;
  width: 100%; }
  .alert.alert-danger-wrong-file-type.hidden {
    display: none; }

.btn.btn-primary {
  background-color: #18294d;
  border-color: #18294d; }
  .btn.btn-primary:hover {
    background-color: #365dae;
    border-color: #365dae;
    color: white; }
.btn.btn-upload {
  border-radius: 0;
  padding: 0.5em 1em;
  margin: 0;
  left: 0;
  position: relative;
  width: 20%;
  background-color: #7dba3b;
  border-color: #7dba3b;
  color: #3c591c; }
  .btn.btn-upload:hover {
    background-color: #bcde97;
    border-color: #bcde97; }

.card.card-block {
  background-color: rgba(255, 255, 255, 0.25);
  border: 0; }
  .card.card-block.box-shadow--16dp {
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2); }
  .card.card-block.show {
    display: block;
    border: 0; }
  .card.card-block.hidden {
    display: none; }
  .card.card-block .card-title {
    display: inline-block; }
  .card.card-block .icon-info-circled-alt {
    display: inline;
    position: absolute;
    right: 0;
    font-size: 1.2em; }
    .card.card-block .icon-info-circled-alt.hidden {
      display: none; }
    .card.card-block .icon-info-circled-alt:hover {
      cursor: pointer; }

.img-uploader {
  width: 100%;
  border: 1px solid #18294d;
  background: -webkit-linear-gradient(top, #18294d 0%, #2db2e8 100%);
  background: linear-gradient(180deg, #18294d 0%, #2db2e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e618294d', endColorstr='#cc2db2e8',GradientType=1 );
  position: relative;
  padding-bottom: 75%; }
  .img-uploader__pre_upload {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    width: 50%; }
    .img-uploader__pre_upload__text {
      color: #18294d;
      text-align: center;
      text-shadow: 0 1px 1px #2db2e8; }
    .img-uploader__pre_upload .progress {
      height: .5em; }
  .img-uploader__post_upload {
    position: absolute;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #18294d; }
    .img-uploader__post_upload img {
      display: block;
      max-width: 100%;
      min-width: 100%;
      height: auto; }

/**
 *	File upload input field
 */
.input-group-btn {
  font-size: 1em;
  padding-top: 1em;
  display: table;
  max-width: 100%;
  min-width: 100%;
  /**
   *	Form elements
   */
  /* Hide the file input using opacity */ }
  .input-group-btn.wrapper {
    text-align: center; }
  .input-group-btn label {
    display: inline-block;
    padding: 0;
    width: 80px; }
  .input-group-btn [type=file] {
    position: absolute;
    filter: alpha(opacity=0);
    opacity: 0; }
  .input-group-btn input,
  .input-group-btn [type=file] + label {
    border: 1px solid #CCC;
    border-radius: 0;
    text-align: left;
    padding: 0.5em 1em 0.5em 0.3em;
    margin: 0;
    left: 0;
    position: relative;
    font-size: 0.85em;
    padding: 0.85em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 50%; }
  .input-group-btn button {
    border-radius: 0;
    padding: 0.5em 1em;
    margin: 0;
    left: 0;
    position: relative;
    width: 20%; }
  .input-group-btn button.dropdown-toggle {
    display: inline-block;
    border: 0;
    width: 3em;
    height: 2.7em; }
  .input-group-btn [type=file] + label {
    text-align: center;
    background: #333;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 20%; }

/* ease|etc. */
/* before|after|both */
/**
 *  SlideInDown
 */
.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
  animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
  -webkit-animation-fill-mode: after;
  animation-fill-mode: after;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

/**
 *  SlideInUp
 */
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
  animation-timing-function: cubic-bezier(0.5, 0.2, 0.3, 1);
  -webkit-animation-fill-mode: after;
  animation-fill-mode: after;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.card-title .card-title__effect.slide {
  overflow: hidden; }
  .card-title .card-title__effect.slide .card-title__wrapper b.visible {
    display: block; }
  .card-title .card-title__effect.slide .card-title__wrapper b:not(.visible) {
    display: none; }

/**
 *	Sticky footer styles
 */
html {
  position: relative;
  min-height: 100%;
  line-height: 1.4;
  -webkit-font-smoothing: antialiased; }

body {
  /* Margin top by navbar height */
  margin-top: 80px;
  /* Margin bottom by footer height */
  margin-bottom: 80px;
  font-family: 'ProximaNovaW01-Regular',helvetica,arial,sans-serif;
  height: 100%;
  width: 100%;
  padding: 0;
  background: -webkit-radial-gradient(center ellipse, rgba(45, 178, 232, 0.25) 0%, #2db2e8 100%);
  background: radial-gradient(ellipse at center, rgba(45, 178, 232, 0.25) 0%, #2db2e8 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fcce0', endColorstr='#2db2e8',GradientType=1 ); }

/**
 *	Header
 */
nav.bg-faded {
  background: #2db2e8;
  padding: 1em 1em; }
  nav.bg-faded .header-logo img {
    width: 130px; }

/**
 *	Fluid container in flex-box
 */
.container-fluid {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start; }

/**
 *	[xs] mobile first, no need for @media
 */
.container-fluid .card {
  margin: 0;
  margin-right: auto;
  margin-left: auto;
  width: calc( 100% / cardAmountMain(xs) );
  padding: 1em;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1; }

@media (min-width: 34em) {
  .container-fluid .card {
    width: calc( 100% / cardAmountMain(sm) ); } }
@media (min-width: 48em) {
  .container-fluid .card {
    width: calc( 100% / cardAmountMain(md) ); } }
@media (min-width: 62em) {
  .container-fluid .card {
    width: calc( 100% / cardAmountMain(lg) ); } }
@media (min-width: 75em) {
  .container-fluid .card {
    width: calc( 100% / cardAmountMain(xl) ); } }
.progress-hidden {
  display: none; }

/**
 *	Footer
 */
footer.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 2em;
  line-height: 2em;
  /* Vertically center the text there */
  background-color: #18294d; }
  footer.footer span.text-muted {
    font-size: 1em;
    color: #FFF; }

@media (min-width: 48em) {
  footer.footer {
    height: 2em;
    line-height: 2em;
    display: block; }
    footer.footer span.text-muted {
      font-size: 1em; } }
@media (min-width: 62em) {
  footer.footer {
    height: 3em;
    line-height: 3em;
    display: block; } }
@media (min-width: 75em) {
  footer.footer {
    height: 3em;
    line-height: 3em;
    display: block; } }
/**
 *	Tools - URI Colors
 */
a.link {
  color: white; }
  a.link:hover, a.link:visited {
    color: white; }
  a.link:hover {
    cursor: pointer; }
