/**
 *	ScSS Includes
 */
@import 'variables';
@import 'animate';
@import 'inc/mixins';
@import 'inc/cube';
@import 'inc/fonts';
@import 'inc/alerts';
@import 'inc/buttons';
@import 'inc/modal';
@import 'inc/cards';
@import 'inc/form';
@import 'inc/card-fx';

/**
 *	Sticky footer styles
 */
html {
	position: relative;
	min-height: 100%;
	line-height: 1.4;

	-webkit-font-smoothing: antialiased;
}

body {
	/* Margin top by navbar height */
	margin-top: 80px;
	/* Margin bottom by footer height */
	margin-bottom: 80px;

	font-family: 'ProximaNovaW01-Regular',helvetica,arial,sans-serif;

	height: 100%;
	width: 100%;
	padding: 0;

	@include gradientGenerator($gradient-radial-blue-start, $gradient-radial-blue-stop, 0, 135deg, 'radial');
}

/**
 *	Header
 */
nav.bg-faded {

	background: $brand-blue;

	padding: 1em 1em;

	.header-logo img {
		width: 130px;
	}
}

/**
 *	Fluid container in flex-box
 */
.container-fluid {
	display: flex;
	flex-flow: row wrap;
	//justify-content: space-between;
	align-content: flex-start;
}

/**
 *	[xs] mobile first, no need for @media
 */
.container-fluid .card {
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	width: calc( 100% / #{cardAmountMain(xs)} );

	padding: 1em;

	flex-grow: 1;
}

@media ( min-width: breakpoint(sm) ) {
	.container-fluid .card {
		width: calc( 100% / #{cardAmountMain(sm)} );
	}
}

@media ( min-width: breakpoint(md) ) {
	.container-fluid .card {
		width: calc( 100% / #{cardAmountMain(md)} );
	}
}

@media ( min-width: breakpoint(lg) ) {
	.container-fluid .card {
		width: calc( 100% / #{cardAmountMain(lg)} );
	}
}

@media ( min-width: breakpoint(xl) ) {
	.container-fluid .card {
		width: calc( 100% / #{cardAmountMain(xl)} );
	}
}

.progress-hidden {
	display: none;
}

/**
 *	Footer
 */
footer.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 2em;
	line-height: 2em; /* Vertically center the text there */

	background-color: $brand-blue-dark;


	span.text-muted {
		font-size: 1em;
		color: #FFF;
	}
}

@media ( min-width: breakpoint(md) ) {
	footer.footer {
		height: 2em;
		line-height: 2em;
		display: block;

		span.text-muted {
			font-size: 1em;
		}
	}
}

@media ( min-width: breakpoint(lg) ) {
	footer.footer {
		height: 3em;
		line-height: 3em;
		display: block;
	}
}

@media ( min-width: breakpoint(xl) ) {
	footer.footer {
		height: 3em;
		line-height: 3em;
		display: block;
	}
}

/**
 *	Tools - URI Colors
 */
a.link {
	color: $white;

	&:hover,
	&:visited {
		color: $white;
	}

	&:hover {
		cursor: pointer;
	}
}

