/**
 *	Breakpoint variables
	[xs] - No media query since this is the default in Bootstrap
	[sm] - Small devices (landscape phones, 34em and up)
	[md] - Medium devices (tablets, 48em and up)
	[lg] - Large devices (desktops, 62em and up)
	[xs] - Extra large devices (large desktops, 75em and up)
 */
$breakpoints: (
	xs: 0,
	sm: 34em,
	md: 48em,
	lg: 62em,
	xl: 75em,
);

@function breakpoint($key) {
	@if map-has-key($breakpoints, $key) {
		@return map-get($breakpoints, $key);
	}

	@warn "Unknown #{$key} in $breakpoints.";
	@return null;
}

/**
 *	Color variables
 */
$brand-blue						: rgba(45, 178, 232, 1); // blue-light
$brand-blue-dark				: rgba(24, 41, 77, 1); // blue-dark
$white 							: rgba(255, 255, 255, 1); // plain white
$brand-logo-white-transparent	: rgba(255, 255, 255, 0.5); // blue-semi-transparent
$cube-blue						: rgba(232, 247, 252, 0.8); //blue-trans
$cube-form-element-blue			: rgba(197, 209, 237, 1); //blue-light
$button-hover					: rgba(125, 186, 59, 1); // light green

/**
 *	Gradient variables
 */
$gradient-blue-start			: rgba(24,41,77,1);
$gradient-blue-stop				: rgba(45,178,232,1);

$gradient-grey-start			: rgba(245, 253, 255, 1);
$gradient-grey-stop				: rgba(229, 251, 255, 1);

$gradient-radial-blue-start		: rgba(45, 178, 232, 0.25);
$gradient-radial-blue-stop		: rgba(45, 178, 232, 1);

/**
 *	General variables
 */
$font-fontello-directory		: '/fonts/fontello/font/';
$font-proxima-nova-directory	: '/fonts/Proxima Nova W01 Regular/Proxima Nova W01 Regular/';

