.btn {

	&.btn-primary {
		background-color: $brand-blue-dark;
		border-color: $brand-blue-dark;

		&:hover {
			background-color: lighten($brand-blue-dark, 25%);
			border-color: lighten($brand-blue-dark, 25%);

			color: $white;
		}

	}

	&.btn-upload {
		border-radius: 0;
		padding: 0.5em 1em;
		margin: 0;
		left: 0;
		position: relative;
		width: 20%;

		background-color: $button-hover;
		border-color: $button-hover;

		color: darken($button-hover, 25%);

		&:hover {
			background-color: lighten($button-hover, 25%);
			border-color: lighten($button-hover, 25%);
			
		}
	}

}
