$anim-duration: 0.5s;
$anim-count: 1;
$anim-delay: 0s;
$anim-function: cubic-bezier(0.5, 0.2, 0.3, 1.0); /* ease|etc. */
$anim-fill: after; /* before|after|both */

/**
 *  SlideInDown
 */
.slideInDown {
    @include slideInDown(
        $duration: $anim-duration,
        $count: $anim-count,
        $delay: $anim-delay,
        $function: $anim-function, 
        $fill: $anim-fill
    );
}

/**
 *  SlideInUp
 */
.slideInUp {
    @include slideInUp(
        $duration: $anim-duration,
        $count: $anim-count,
        $delay: $anim-delay,
        $function: $anim-function, 
        $fill: $anim-fill
    );
}

.card-title {

    .card-title__effect.slide {

        overflow: hidden;

        .card-title__wrapper {

            b.visible {
                display: block;
            }

            b:not(.visible) {
                display: none;
            }

        }

    }

}