.card.card-block {

	background-color: rgba(255,255,255, 0.25);

	border: 0;

	&.box-shadow--16dp {
		box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2)
	}

	&.show {
		display: block;
		border: 0;
	}

	&.hidden {
		display: none;
	}

	.card-title {
		display: inline-block;
	}

	.icon-info-circled-alt {

		display: inline;
		position: absolute;
		right: 0;

		font-size: 1.2em;

		&.hidden {
			display: none;
		}

		&:hover {
			cursor: pointer;
		}
	}
	
}