$cube-size-perspective: 1000px;
$cube-size-hw: 400px;
$cube-size-div-hw: 400px;
$cube-size-tansform: 200px;
$cube-size-font: 14.4em;

@media ( min-width: breakpoint(xs) ) {
	$divider: 7;

	.font-icon.icon-ultimaker_logo {
		font-size: $cube-size-font / $divider;
	}
	#container {
		perspective: $cube-size-perspective / $divider;
	}
	#cube {
		height: $cube-size-hw / $divider;
		width: $cube-size-hw / $divider;
		
		> div {
			height: $cube-size-div-hw / $divider;
			width: $cube-size-div-hw / $divider;
		}
	}

	#cube div:nth-child(1) {
		transform: translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(2) {
		transform: rotateY(90deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(3) {
		transform: rotateY(180deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(4) {
		transform: rotateY(-90deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(5) {
		transform: rotateX(-90deg) translateZ($cube-size-tansform / $divider) rotate(180deg);
	}

	#cube div:nth-child(6)  {
		transform: rotateX(90deg) translateZ($cube-size-tansform / $divider);
	}
}

@media ( min-width: breakpoint(sm) ) {

	$divider: 7;

	.font-icon.icon-ultimaker_logo {
		font-size: $cube-size-font / $divider;
	}
	#container {
		perspective: $cube-size-perspective / $divider;
	}
	#cube {
		height: $cube-size-hw / $divider;
		width: $cube-size-hw / $divider;
		
		> div {
			height: $cube-size-div-hw / $divider;
			width: $cube-size-div-hw / $divider;
		}
	}

	#cube div:nth-child(1) {
		transform: translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(2) {
		transform: rotateY(90deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(3) {
		transform: rotateY(180deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(4) {
		transform: rotateY(-90deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(5) {
		transform: rotateX(-90deg) translateZ($cube-size-tansform / $divider) rotate(180deg);
	}

	#cube div:nth-child(6)  {
		transform: rotateX(90deg) translateZ($cube-size-tansform / $divider);
	}
}

@media ( min-width: breakpoint(md) ) {

	$divider: 6;

	.font-icon.icon-ultimaker_logo {
		font-size: $cube-size-font / $divider;
	}
	#container {
		perspective: $cube-size-perspective / $divider;
	}
	#cube {
		height: $cube-size-hw / $divider;
		width: $cube-size-hw / $divider;
		
		> div {
			height: $cube-size-div-hw / $divider;
			width: $cube-size-div-hw / $divider;
		}
	}

	#cube div:nth-child(1) {
		transform: translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(2) {
		transform: rotateY(90deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(3) {
		transform: rotateY(180deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(4) {
		transform: rotateY(-90deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(5) {
		transform: rotateX(-90deg) translateZ($cube-size-tansform / $divider) rotate(180deg);
	}

	#cube div:nth-child(6)  {
		transform: rotateX(90deg) translateZ($cube-size-tansform / $divider);
	}
}

@media ( min-width: breakpoint(lg) ) {

	$divider: 6;

	.font-icon.icon-ultimaker_logo {
		font-size: $cube-size-font / $divider;
	}
	#container {
		perspective: $cube-size-perspective / $divider;
	}
	#cube {
		height: $cube-size-hw / $divider;
		width: $cube-size-hw / $divider;
		
		> div {
			height: $cube-size-div-hw / $divider;
			width: $cube-size-div-hw / $divider;
		}
	}

	#cube div:nth-child(1) {
		transform: translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(2) {
		transform: rotateY(90deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(3) {
		transform: rotateY(180deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(4) {
		transform: rotateY(-90deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(5) {
		transform: rotateX(-90deg) translateZ($cube-size-tansform / $divider) rotate(180deg);
	}

	#cube div:nth-child(6)  {
		transform: rotateX(90deg) translateZ($cube-size-tansform / $divider);
	}
}

@media ( min-width: breakpoint(xl) ) {

	$divider: 5;

	.font-icon.icon-ultimaker_logo {
		font-size: $cube-size-font / $divider;
	}
	#container {
		perspective: $cube-size-perspective / $divider;
	}
	#cube {
		height: $cube-size-hw / $divider;
		width: $cube-size-hw / $divider;
		
		> div {
			height: $cube-size-div-hw / $divider;
			width: $cube-size-div-hw / $divider;
		}
	}

	#cube div:nth-child(1) {
		transform: translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(2) {
		transform: rotateY(90deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(3) {
		transform: rotateY(180deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(4) {
		transform: rotateY(-90deg) translateZ($cube-size-tansform / $divider);
	}

	#cube div:nth-child(5) {
		transform: rotateX(-90deg) translateZ($cube-size-tansform / $divider) rotate(180deg);
	}

	#cube div:nth-child(6)  {
		transform: rotateX(90deg) translateZ($cube-size-tansform / $divider);
	}
}

@keyframes spinning {
	from { transform: rotateX(0deg) rotateY(0deg); }
	to { transform: rotateX(360deg) rotateY(360deg); }
}

 #container {
	perspective-origin: 50% 50%;

	.font-icon.icon-ultimaker_logo {
		color: $brand-logo-white-transparent;
		line-height: 0;
		padding: 0;
	}

	.animate {
		animation: spinning 16s infinite linear;
	}

	#cube {
		position: relative;
		margin: 0 auto;

		transition: transform 2s linear;
		transform-style: preserve-3d;
	}

	#cube > div {
		position: absolute;

		@include gradientGenerator($gradient-blue-start, $gradient-blue-stop, 0.3, 135deg);

		> div {
			position: relative;
			top: 20%;
			left: 0%;
			transform: translate(-25%, -25%);

			display: inline;
		}
	}

}



