/**
 *	Fonts - Proxima NOVA W1
 */
@font-face {font-family: "ProximaNovaW01-Regular";
	src:url('#{$font-proxima-nova-directory}Proxima Nova W01 Regular.eot');
	src:url('#{$font-proxima-nova-directory}Proxima Nova W01 Regular.eot?#iefix') format("embedded-opentype"),
		url('#{$font-proxima-nova-directory}Proxima Nova W01 Regular.woff2') format("woff2"),
		url('#{$font-proxima-nova-directory}Proxima Nova W01 Regular.woff') format("woff"),
		url('#{$font-proxima-nova-directory}Proxima Nova W01 Regular.ttf') format("truetype"),
		url('#{$font-proxima-nova-directory}Proxima Nova W01 Regular.svg#ProximaNovaW01-Regular') format("svg");
}


/**
 * Fonts - Fontello
 */
@font-face {
	font-family: 'fontello';
	src:url('#{$font-fontello-directory}fontello.eot?91960756');
	src:url('#{$font-fontello-directory}fontello.eot?91960756#iefix') format('embedded-opentype'),
		url('#{$font-fontello-directory}fontello.woff?91960756') format('woff'),
		url('#{$font-fontello-directory}fontello.ttf?91960756') format('truetype'),
		url('#{$font-fontello-directory}fontello.svg?91960756#fontello') format('svg');
	font-weight: normal;
	font-style: normal;
}

/**
 *	Fonts - Font icons
 */
.font-icon {
	font-family: "fontello";
	font-size: 3em;
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: 0.5em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .1em;

	/* You can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Font smoothing. That was taken from TWBS */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
	
}