.img-uploader {

	width: 100%;

	border: 1px solid $brand-blue-dark;

	@include gradientGenerator($gradient-blue-start, $gradient-blue-stop, 0, 180deg);

	position: relative;
	padding-bottom: 75%;

	&__pre_upload {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 50%;

		&__text {
			color: $brand-blue-dark;
			text-align: center;
			text-shadow: 0 1px 1px $brand-blue;
		}

		.progress {
			height: .5em;
		}
		
	}

	&__post_upload {
		position: absolute;
		width: 100%;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;

		background-color: $brand-blue-dark;

		img {
			display: block;
			max-width: 100%;
			min-width: 100%;
			height: auto;
		}

	}

}

/**
 *	File upload input field
 */
.input-group-btn {

	font-size: 1em;
	padding-top: 1em;
	display: table;

	max-width: 100%;
	min-width: 100%;

	&.wrapper {
		text-align: center;
	}

	/**
	 *	Form elements
	 */
	label {
		display: inline-block;
		padding: 0;
		width: 80px;
	}

	/* Hide the file input using opacity */
	[type=file] {
		position: absolute;
		filter: alpha(opacity=0);
		opacity: 0;
	}

	input,
	[type=file] + label {
		border: 1px solid #CCC;
		border-radius: 0;
		text-align: left;
		padding: 0.5em 1em 0.5em 0.3em;
		margin: 0;
		left: 0;
		position: relative;

		font-size: 0.85em;
    	padding: 0.85em;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		width: 50%;
	}

	button {
		border-radius: 0;
		padding: 0.5em 1em;
		margin: 0;
		left: 0;
		position: relative;
		width: 20%;
	}

	button.dropdown-toggle {
		display: inline-block;
		border: 0;
		//padding: 0.5em 1em;
		width: 3em;
		height: 2.7em;
	}

	[type=file] + label {
		text-align: center;
		background: #333;
		color: #fff;
		border: none;
		cursor: pointer;
		width: 20%;
	}

}