@mixin aspect-ratio($width, $height) {

	&:before{
		display: block;
		content: " ";
		width: 100%;
		padding-top: ($height / $width) * 100%;
	}

	> img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

/**
 * Gradient variables
 */
@mixin gradientGenerator(
	$gradient-start-color,
	$gradient-stop-color,
	$transparent,
	$direction,
	$gradient-type: linear
) {
	@if $gradient-type == linear {
		background: linear-gradient($direction, transparentize($gradient-start-color, $transparent) 0%,transparentize($gradient-stop-color, $transparent) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e618294d', endColorstr='#cc2db2e8',GradientType=1 );
	} @else if $gradient-type == radial {
		background: radial-gradient(ellipse at center, transparentize($gradient-start-color, $transparent) 0%,transparentize($gradient-stop-color, $transparent) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8fcce0', endColorstr='#2db2e8',GradientType=1 );

	}
}