<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	
	<title>Ultimaker: {{ $title }}</title>

	<!-- Bootstrap v4 alpha core CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/css/bootstrap.min.css">
	<!-- regular styles parsed from sass includes -->
	<link rel="stylesheet" href="css/stylesheet.css">
	<!-- fontello fonts -->
	<link rel="stylesheet" href="fonts/fontello/css/fontello.css">

</head>
<body>

<!-- Phone/Tablet/Desktop -->
<nav class="navbar navbar-fixed-top navbar-light bg-faded">
	<button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#collapsingNavbar">&#9776;</button>
	<div class="collapse navbar-toggleable-sm" id="collapsingNavbar">
		<a class="navbar-brand header-logo hidden-sm-down" href="#"><img src="/images/logo-text.svg" alt="Ultimaker" /></a>
	</div>
</nav>

<div id="cfluid" class="container-fluid">

	<div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
		
		<div class="row">
			<div class="alert alert-danger alert-danger-wrong-file-type hidden alert-dismissible fade in center-block" role="alert">
				<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<strong>Wrong image type</strong>
				<p>You can only upload images with the following file extensions:<br /><strong>{ .jpeg | .svg | .png | .gif }</strong>.</p>
			</div>
		</div>

		<div class="row">

			<div class="card card-block box-shadow--16dp"><!--  style="overflow: none;" -->
				<div class="row">
					<div class="col-xs-12">

						<div class="clearfix" style="position: relative;">
							<section class="card-title">
								<h4 class="card-title__effect slide">
									<span class="card-title__wrapper">
										<b class="first visible">Upload your 3D model</b>
										<b class="second">Information about your image</b>
									</span>
								</h4>
							</section>
							<div class="jQuery-header-swap icon-info-circled-alt" data-toggle="collapse" href="#collapseImgInformation" aria-expanded="false" aria-controls="collapseImgInformation"></div>
						</div>

						<div class="collapse" id="collapseImgInformation">
							<div class="card card-block img-information">{{ $hidden_image_information }}</div>
						</div>
						
						<div class="img-uploader img-uploader__show" >

							<!-- Image placeholder post-upload -->
							<div class="img-uploader__post_upload">
								<img class="img-fluid center-block postview" alt="img detail" />
							</div>

							<!-- Image placeholder pre-upload -->
							<div class="img-uploader__pre_upload">

								<div class="row">

									<div id="container">
										<div id="cube" class="animate">
											<div><div class="font-icon icon-ultimaker_logo"></div></div>
											<div><div class="font-icon icon-ultimaker_logo"></div></div>
											<div><div class="font-icon icon-ultimaker_logo"></div></div>
											<div><div class="font-icon icon-ultimaker_logo"></div></div>
											<div><div class="font-icon icon-ultimaker_logo"></div></div>
											<div><div class="font-icon icon-ultimaker_logo"></div></div>
										</div>
									</div>

								</div>
								<div class="row img-uploader__pre_upload__text" style="margin-top: 4em;">
									<h6>{{ $defaultImageText }}</h6>
								</div>

								<progress class="progress progress-hidden progress-striped progress-success" value="0" max="100">
									<div class="progress">
										<span class="progress-bar" style="width: 0%;"></span>
									</div>
								</progress>

							</div>


						</div>

						<div class="input-group-btn wrapper dropup">
							
							<form id="fileUploader" action="#" enctype="multipart/form-data">

								<label for="filename" class="hidden-sm-down">File Name</label>
								<input id="filename" type="text" placeholder="{{ $form_text_input }}" placeholdertext="{{ $form_text_input }}" readonly />

								<input type="file" name="file[]" id="file"/>
								<label for="file" id="default" class="btn btn-primary"><b class="icon-upload-cloud" style="margin: 0 0.5em 0 0;"></b>{{ $form_text_button_default }}</label>

								<label id="upload" type="submit" value="submit" class="btn btn-upload" style="display:none;">{{ $form_text_button_upload }}</label>

								<button type="button" class="btn btn-secondary dropdown-toggle" disabled data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="sr-only">Toggle Dropdown</span>
								</button>
								<div class="dropdown-menu dropdown-menu-right">
									<!-- Trigger modal -->
									<a class="dropdown-item" href="#" type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#fileDelete">Remove current file</a>
									<a class="dropdown-item" href="#">Add new model</a>
								</div>
								
							</form>

						</div>

					</div>

				</div>
			</div>

		</div>
	</div>

<!-- Remove Warning Modal -->
<div class="modal fade" id="fileDelete" tabindex="-1" role="dialog" aria-labelledby="fileDeleteLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
				<h4 class="modal-title" id="myModalLabel">Are you sure?</h4>
			</div>
			<div class="modal-body">
				<p>Removing this file is permanent, click "cancel" when you don't want to delete or press "delete" to continue deleting this file.</p>
			</div>
			<div class="modal-footer">
				<div class="btn-group" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-danger" id="removeFilePermanent">Delete</button>
				</div>
			</div>
		</div>
	</div>
</div>
	
</div>
<!--/.container-->

<footer class="footer">
	<div class="container">
		<span class="text-muted">Ian Kettler for Ultimaker &copy;</span>
	</div>
</footer>

<!-- JQuery -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<!-- Bootstrap requires Tether -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.2/js/tether.min.js"></script>
<!-- Bootstrap v4 alpha javascript core -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha/js/bootstrap.min.js"></script>
<!-- File upload javascript -->
<script src="js/file-upload.js"></script>
<!-- fx for the cards -->
<script src="js/card-fx.js"></script>

</body>
</html>